{% extends "Base.html.twig" %}
{% set title = 'Customers' %}
{% block content %}
    <h2 class="headline">Customers</h2>
    <a href="/customers/new" class="btn small float-right">＋ New customer</a>

    <table id="customers" class="rounded">
        <thead>
            <tr>
                <th>Personal identity number</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Phone number</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.surname }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.postcode }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.phone }}</td>
                    {% if customer.editable == false %}
                        {% set isBooked = false %}
                    {% else %}
                        {% set isBooked = true %}
                    {% endif %}
                    <td>
                        <a href="customers/{{ customer.id }}/edit" class="btn small {{ (isBooked) ? 'disabled' : '' }}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <button type="button" class="link" data-id="{{ customer.id }}" data-target="removeCustomer" {{ (isBooked) ? 'disabled' : '' }}>
                            Remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
