{% extends "Base.html.twig" %}
{% set title = 'Edit customer' %}
{% block content %}
    <h2>Edit customer</h2>
    <form id="customer" method="POST" action="/customers/edit/{{ customer.id }}">
        <input type="hidden" name="id" value="{{ customer.id }}"/>
        <table>
            <tr>
                <th>Personal identity number</th>
                <td>
                    <input placeholder="YYMMDDXXXX" maxlength="10" disabled value="{{ customer.id }}"/>
                </td>
            </tr>
            <tr>
                <th>First name</th>
                <td>
                    <input name="firstname" value="{{ customer.firstname }}"/>
                </td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>
                    <input name="surname" value="{{ customer.surname }}"/>
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    <input name="address" value="{{ customer.address }}"/>
                </td>
            </tr>
            <tr>
                <th>Post code</th>
                <td>
                    <input name="postcode" maxlength="5" value="{{ customer.postcode }}"/>
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <input name="city" value="{{ customer.city }}"/>
                </td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>
                    <input name="phone" maxlength="10" value="{{ customer.phone }}"/>
                </td>
            </tr>
            <tfoot>
                <tr colspan="2">
                    <td colspan="2">
                        <button type="submit" class="block">Update</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    {% block responseMessage %}
        <div id="response-message">
            {% if success == true %}
                <div class="alert success">
                    <h2>Success</h2>
                    <p>{{ responseMessage }}</p>
                </div>
            {% elseif success is same as(false) %}
                <div class="alert error">
                    <h2>Error</h2>
                    <p>{{ responseMessage }}</p>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
