{% extends "Base.html.twig" %}
{% set title = 'Edit customer' %}
{% block content %}
    <h2>Edit customer</h2>
    <form id="customer" method="POST" action="/customers/{{ customer.id }}/edit">
        <input type="hidden" name="id" value="{{ customer.id }}"/>
        <table>
            <tr>
                <th>Personal identity number</th>
                <td>
                    <input placeholder="YYMMDDXXXX" maxlength="10" disabled value="{{ customer.id }}"/>
                </td>
            </tr>
            <tr>
                <th>First name</th>
                <td>
                    <input name="firstname" value="{{ customer.firstname }}" required/>
                </td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>
                    <input name="surname" value="{{ customer.surname }}" required/>
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    <input name="address" value="{{ customer.address }}" required/>
                </td>
            </tr>
            <tr>
                <th>Post code</th>
                <td>
                    <input name="postcode" maxlength="5" value="{{ customer.postcode }}" required/>
                </td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    <input name="city" value="{{ customer.city }}" required/>
                </td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>
                    <input name="phone" maxlength="10" value="{{ customer.phone }}" required/>
                </td>
            </tr>
            <tfoot>
                <tr colspan="2">
                    <td colspan="2">
                        <button type="submit" class="block">Update</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    {% include("ResponseMessage.html.twig") %}
{% endblock %}
