{% extends "Base.html.twig" %}
{% set title = 'Edit vehicle' %}
{% block content %}
    <h2>Edit vehicle</h2>
    <form id="vehicle" method="POST" action="/vehicles/{{ vehicle.id }}/edit">
        <input type="hidden" name="id" value="{{ vehicle.id }}"/>
        <table>
            <tr>
                <th>License plate</th>
                <td>
                    <input placeholder="AAANNX" maxlength="6" value="{{ vehicle.id }}" disabled/>
                </td>
            </tr>
            <tr>
                <th>Make</th>
                <td>
                    <select name="make" placeholder="Select make">
                        {% for make in makes %}
                            <option {{ vehicle.make == make.make ? "selected" : "" }} value="{{ make.make }}">{{ make.make }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Color</th>
                <td>
                    <select name="color" placeholder="Select color">
                        {% for color in colors %}
                            <option {{ vehicle.color == color.color ? "selected" : "" }} value="{{ color.color }}">{{ color.color }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Year</th>
                <td>
                    <input name="year" placeholder="YYYY" maxlength="4" value="{{ vehicle.year }}"/>
                </td>
            </tr>
            <tr>
                <th>Price</th>
                <td>
                    <input name="price" placeholder="0.00" value="{{ vehicle.price }}"/>
                </td>
            </tr>
            <tfoot>
                <tr colspan="2">
                    <td colspan="2">
                        <button type="submit" class="block">Updae</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    {% include("ResponseMessage.html.twig") %}
{% endblock %}
