{% extends "Base.html.twig" %}
{% set title = 'History' %}
{% block content %}
    <h2 class="headline">History</h2>
    <table class="rounded">
        <thead>
            <tr>
                <th>License plate</th>
                <th>Personal identity number</th>
                <th>Hired date</th>
                <th>Return date</th>
                <th>Days</th>
                <th>Total cost</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.vehicle_id }}</td>
                    <td>{{ booking.customer_id }}</td>
                    <td>{{ booking.created_at }}</td>
                    <td>{{ booking.closed_at }}</td>
                    <td>{{ booking.days }}</td>
                    <td>{{ booking.total_cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Sum</th>
                <th colspan="4"></th>
                <th>{{ sum }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
