{% extends "Base.html.twig" %}
{% set title = 'Rent vehicle' %}
{% block content %}
    <h2 class="headline">Rent vehicle</h2>
    <form method="POST" action="/rent/new">
        <table>
            <tr>
                <th>Customer</th>
                <td>
                    <select name="customerId">
                        <option hidden disabled selected value>
                            -- Select customer --
                        </option>
                        {% for customer in customers %}
                            <option value="{{ customer.id }}">
                                {{ customer.id }}
                                {{ customer.firstname }}
                                {{ customer.surname }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Vehicle</th>
                <td>
                    <select name="vehicleId">
                        <option hidden disabled selected value>
                            -- Select vehicle --
                        </option>
                        {% for vehicle in vehicles %}
                            <option value="{{ vehicle.id }}">
                                {{ vehicle.id }}
                                –
                                {{ vehicle.make }}
                                ({{ vehicle.color }})
                                {{ vehicle.price }}/day
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tfoot>
                <tr colspan="2">
                    <td colspan="2">
                        <button type="submit" class="block">Create</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    {% block responseMessage %}
        <div id="response-message">
            {% if success %}
                <div class="alert success">
                    <h2>Success</h2>
                    <p>{{ responseMessage }}</p>
                </div>
            {% elseif success is same as(false) %}
                <div class="alert error">
                    <h2>Error</h2>
                    <p>{{ responseMessage }}</p>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
