{% extends "Base.html.twig" %}
{% set title = 'Return vehicle' %}
{% block content %}
    <h2 class="headline">Return vehicle</h2>
    <form method="POST" action="/return">
        <table>
            <tr>
                <th>Vehicle</th>
                <td>
                    <select name="vehicleId">
                        <option hidden disabled selected value>
                            -- Select vehicle --
                        </option>
                        {% for vehicle in vehicles %}
                            {% if vehicle.editable == false %}
                                <option value="{{ vehicle.id }}">
                                    {{ vehicle.id }}
                                    –
                                    {{ vehicle.make }}
                                    ({{ vehicle.color }})
                                    {{ vehicle.price }}/day
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tfoot>
                <tr colspan="2">
                    <td colspan="2">
                        <button type="submit" class="block">Create</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    {% include("ResponseMessage.html.twig") %}
{% endblock %}
