{% extends "Base.html.twig" %}
{% set title = 'Vehicles' %}
{% block content %}
    <h2 class="headline">Vehicles</h2>
    <a href="/vehicles/new" class="btn small float-right">＋ New vehicle</a>

    <table id="vehicles" class="rounded">
        <thead>
            <tr>
                <th>License plate</th>
                <th>Make</th>
                <th>Color</th>
                <th>Year</th>
                <th>Price</th>
                <th>Rented by</th>
                <th>Rental date</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.id }}</td>
                    <td>{{ vehicle.make }}</td>
                    <td>{{ vehicle.color }}</td>
                    <td>{{ vehicle.year }}</td>
                    <td>{{ vehicle.price }}</td>
                    {% if vehicle.editable == false %}
                        {% set isBooked = false %}
                        <td colspan="2">Available</td>
                    {% else %}
                        {% set isBooked = true %}
                        <td>{{ vehicle.customer_id }}</td>
                        <td>{{ vehicle.rented_at }}</td>
                    {% endif %}
                    <td>
                        <a href="vehicles/edit/{{ vehicle.id }}" class="btn small {{ (isBooked) ? 'disabled' : '' }}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <button type="button" class="link" data-id="{{ vehicle.id }}" data-target="removeVehicle" {{ (isBooked) ? 'disabled' : '' }}>
                            Remove
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
